{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- **************************** -->

{% if user.is_authenticated %}
<div class="box">
   <div class="addtodo">
      <h1 >Update Todo</h1>
      <div id="id_error_wrapper"><span id="id_error">{{error}}</span></div>

      <form method="POST">
         {% csrf_token %}
         {{form.as_p}}
         <p>
             <button type="submit" class="btn btn-success" id="add_button">Save</button>
         </p>
      </form>
      <form action="{% url 'completeTodo' todo.id %}"method="POST">
         {% csrf_token %}
         <p>
             <button type="submit" class="btn btn-success" id="add_button">Complete</button>
        </p>
      </form>
   </div>
</div>
{% endif %}


<!-- **************************** -->
{% endblock%}
