*{
   margin: 0;
   padding: 0;
}body {

   background-color:rgb(31, 33, 34);
}.container{
   margin: 5vh 25vw;
   width: auto;
   padding: 10px;
   background-color: rgb(166, 247, 247);
   border: 1px solid black;
} .container .head {
   background-color: rgb(116, 255, 255);   
   padding: 13px 20px;
   font-size: 22px;
   border-bottom: 1px solid black;
   color:rgb(39, 45, 49);
   font-family: 'Ubuntu';
   opacity: 95%;

}.addtodo{
   text-align:center;
   margin: 12px 0 0 0;
}.addtodo #add {
   background-color:rgb(156, 255, 156);
   border-style: none;
   border: 1px solid black;
}.addtodo input{
   font-size: 20px;
   padding: 10px 7px;
}.addtodo #input_item {
   width: 66%;
   border-radius: 5px;
   border: 1px solid black;
}.content{
   margin: 20px 10px;
   background-color: rgb(245, 118, 118);
   padding:  5px 40px;
   text-decoration: none;
   font-size: 22px;
   border-radius: 7px;
   font-weight: bold;
   font-family: 'Roboto';
}.content ol li {
   margin: 15px 0 ;
   color:rgb(41, 34, 34);

}.selection_checkbox {
   height:22px;
   width: 22px;
   margin-right: 5px;
   margin-bottom: 0;
}.selection_checkbox:checked + #list-text{
   text-decoration:line-through;
}.content ol li form{
   display: inline-block;
   position: absolute;
}.content ol li form input{
   margin-left: 10px;
   padding: 0 4px;
   font-size: 22px;
   color:rgb(92, 49, 49);
   background: transparent;
   border-style: none;
   
}

.container #about {
   padding: 20px 2px;
   height: 35vh;
   text-align: center;
} .container #about h1, .container #about h4 {
   opacity: 75%;
}.container #about h1, .container #about h2{
   margin-bottom: 20px;
}

footer {
   color: #fff;
   text-align: center!important;
   opacity: 30%;
}#bottom {
   margin: 5vh 25vw;;
   background:transparent;
   text-align: center;
} #bottom div{
   display: inline-block;
} #bottom div a {
   font-family: 'Ubuntu';
   font-weight: 400;
   margin: 0;
   padding-right: 20px;
   text-decoration: none;
   color: rgb(160, 220, 238);

}


/* Media tags */

@media screen and (max-width: 700px) {
   .container {
      margin:0 0 2vh 0;
      border:0;
   } .addtodo input {
      font-size: 18px;
   } .addtodo #input_item {
      width: 80%!important;
      padding: 12px 5px;
      border: 0;
   } .content {
      margin: 30px 10px;
      font-size: 19px;
      font-weight: bolder;
      padding: 12px 4px ;
   }  .content ol li {
      margin: 25px 0 ;
      color:rgb(28, 32, 27);
   }
}

