{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- **************************** -->
<div class="container">
   <div class="head">
      <h1> <i class="fas fa-stream"></i> MyDiary</h1>
   </div>
      <div id="about">
         <h1>Who we are?</h1>
         <h2>This site is created by Aniket.</h2>
         <h4>About The Site:</h4>
         <p>This is a simple diary todo list app made using python+django. I will be adding more features in future. Thank you.</p>
      </div>
</div>

<div id="bottom">
   <div><a href="{% url 'todo' %}">Home</a></div>
   <div>
     <a href="https://aniketbalkhande.pythonanywhere.com">Other Sites</a>
   </div>
</div>
<!-- **************************** -->
{% endblock %}

