{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- **************************** -->
   <div class="container">
      <div class="head">
         <h1> <i class="fas fa-stream"></i> MyDiary</h1>
      </div>
      <div class="addtodo">
         <!-- just for security purpose -->
         <form action="/addTodo/" method="POST">{% csrf_token %}  
            <input type="text" id="input_item" name="content" placeholder="Add new work to do....">
            <input type="submit" name="" id="add" value="Add">
         </form>
      </div>
      
      
      <div class="content">
         <ol>
            {% for todo_item in all_items %}
               <li>
                  <input id="oregano"  type="checkbox" class="selection_checkbox" />
                    <span id="list-text"> {{ todo_item.content }}</span>
                     <form action="/deleteTodo/{{todo_item.id}}/"        method="POST">{% csrf_token %}  
                        <input type="submit" value="X">
                     </form>
               </li>
            {% endfor %}
         </ol>
        
      </div>
   </div>

   <div id="bottom">
      <div><a href="{% url 'about' %}">About</a></div>
      <div>
        <a href="https://aniketbalkhande.pythonanywhere.com">Other Sites</a>
      </div>
   </div>
<!-- **************************** -->
{% endblock%}







